/* our whole app */
  .App {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  .loggedinmessage {
    text-align: right;
    font-family: 'PT Sans', sans-serif;
    background:black;
    color:white
  }
  body {
    font-family: 'PT Sans', sans-serif;
    background: #e7e7e7; 
  }
  a {
    color: #7E6B8F
  }

  /* headers */
  h1, h3 {
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
  }
  h4 {
    color: white
  }

  /* Forms */
  form input {
    width: 100%;
  }
  .signupForm, .signinForm, .questionnaire {
    color: white;
    text-align: center;
    margin-top: 5%;
    border-radius: 0.5rem;
    padding: 5%;
    background: #353a3f;  
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.4);
  }
  #pic {
    text-align: center;
  }

  /* buttons */
  .btn {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.4);
  }

  /* chat */
  #chat-app {
    width: 80%;
  }

  #footer {
    position: fixed
  }
