img:hover {
    filter: blur(2px); 
}
.card .imgCard {
    height: 200px;
    background: #353a3f;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
}
.card .imgCard img {
    display: inline-block;
    width: 95%;
    height: 170px;
    margin: 10px 10px 10px 10px
}
.video, .welcome{
    margin: 30px;
    border: 1px solid #a5a1c5;
}

.video h1 {
    text-align: right;
}
.goalsContainer {
    text-align: center;
    padding: 20px;
    background: white;
    margin: 30px;
    border: 1px solid #a5a1c5;
}
.alert {
    color: #a5a1c5;
    text-align: left
}
.alert:hover {
    filter: blur(2px); 
    background: silver
}

.note {
    font-family: 'Pacifico', cursive;
}